{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container">

{% if editMode %}

    <h1>Modification d'un trick</h1>

{% else %} 

    <h1>Création d'un trick</h1>

{% endif %}


{{ form_start(formArticle) }}


{{ form_row(formArticle.title, {'attr': {'placeholer': "Titre de l'article"} } ) }}
{{ form_row(formArticle.category) }}
{{ form_row(formArticle.content, {'attr': {'placeholer': "Contenu de l'article"} } ) }}
{{ form_row(formArticle.image, {'attr': {'placeholer': "Image de l'article"} } ) }}
{{ form_row(formArticle.video, {'attr': {'placeholer': "Video de l'article"} } ) }}
{{ form_row(formArticle.createdBy, {'attr': {'placeholer': "Autheur de l'article"} } ) }}



<button type="submit" class="btn btn-success">

{% if editMode %}

    Enregistrer

{% else %}    

    Ajouter l'article</button>

{% endif %}

{{ form_end(formArticle) }}

</div>

{% endblock %}
